.col {
  display: grid;
  margin-bottom: 10px;
  place-content: center;
  justify-self: center;
  width: 250px;
  grid-gap: 10px;
  height: 400px;
}

.row {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 10px;
  place-content: center;
}

.container-img {
  height: 250px;
}

img {
  margin: auto;
  width: 200px;
  border-radius: 50%;
}

.card-body {
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: start;
  height: 120px;
  margin: 10px 0;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
  border-bottom: solid white 1px;
}

.card-body hr {
  width: 100%;
  margin: 0;
}

.card-body p {
  display: block;
  margin: 10px 0;
  height: 20px;
  width: 100%;
  font-weight: 300;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(300px);
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    place-content: center;
  }


}